* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: url('assets/weather-bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23516e;
}

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(2, 62, 138, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
}

.theme-btn img {
    width: 32px;
    height: 32px;
}

.dark {
    background: linear-gradient(135deg, #67889Caa, #6D8FA3aa),
    url('assets/weather-bg.jpeg');
    background-size: cover;
    background-position: center;
}

.dark .container {
    background: rgba(103, 136, 156, 0.5);
}

.dark h1,
.dark p {
    color: #edefef;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 30px;
    text-align: center;
    background: rgba(2, 62, 138, 0.08);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(13, 27, 42, 0.3);
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #04446b;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #38637d;
}

.result.hidden {
    display: none;
}

#weatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

lottie-player {
    background: transparent;
    width: 150px;
}

#cityName {
    margin-top: 0.5rem;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 18px;
    text-transform: capitalize;
    opacity: 0.9;
}